<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="./css/hiba.css"
        />
        <title>404 hiba</title>
    </head>
    <body>
        <div id="hiba">
            <h1>404-es hiba!</h1>
            <p>A keresett erőforrás nem található!</p>
            <p>(File Not Found!)</p>
            <a href="/">Vissza a főoldalra.</a>
        </div>
    </body>
</html>
