<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="./css/stilus.css"
        />
        <title>main route</title>
    </head>
    <body>
        <h1>Üdvözlünk az oldalunkon!</h1>
        <a href="/masik">Át a másik oldalra.</a>
    </body>
</html>
