@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#hiba {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

a {
    color: red;
    text-decoration: none;
}
